* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 25px;
}

body {
  font-weight: 400;
  overflow: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

nav.navbar {
  background-color: #121212;
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
  opacity: 0.99;
}

.nav-link.navbar-link {
  color: #fff !important;
  font-weight: 500;
  font-size: 18px;
  padding: 6px 15px !important;
  letter-spacing: 0.6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.6;
}

.nav-link.navbar-link:hover, .nav-link.navbar-link.active {
  opacity: 1;
}

nav.navbar .navbar-toggler .navbar-toggler-icon {
  background-color: #fff;
  border-radius: 20%;
  margin-left: auto;
}

nav.navbar .navbar-toggler-icon:hover, .navbar-toggler-icon:active {
  outline: none !important;
  border: none;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  margin-left: 14px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(38, 2, 56, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s linear;
}
.social-icon a:hover::before {
  transform: scale(1);
  z-index: -1;
  opacity: 0.5;
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 30px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}